---
import Layout from '../layouts/Layout.astro';
import Cards from '../components/Cards.astro';
import Masthead from '../components/Masthead.astro';
import { Image } from '@astrojs/image/components'

const posts = (await Astro.glob('./posts/*.md'))
---

<Layout title="Home">
	<main>
		<h1 class="text-4xl my-2"> My Tech</h1>
		<Cards />
	</main>
</Layout>

<style>
	.post:hover {
		cursor: pointer;
	}
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
</style>
