---
import Layout from '../layouts/Layout.astro';
import Cards from '../components/Cards.astro';
import Content from '../components/Content.astro';
import Masthead from '../components/Masthead.astro';

const posts = (await Astro.glob('./posts/*.md'))
---

<Layout title="Home">
	<section class="mb-6">
		<div class="text-center text-4xl">
			<h1>My Tech</h1>
			<hr class="w-48 mx-auto mt-1 border-1 border-slate-950 dark:border-zinc-100 rounded align-middle"/>
		</div>
	</section>
	<Content>
		<Cards />
	</Content>
</Layout>

<style>
	.post:hover {
		cursor: pointer;
	}
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
</style>
