---
const year = new Date().getFullYear();
---
<footer class=" border-t border-black dark:border-zinc-400 px-8 max-w-3xl mx-auto">
    <div class="mx-auto max-w-3xl px-8 pt-3 text-center">
        <p>© {year} Joshua Trotter. All rights reserved.</p>
    </div>
</footer>