---
const year = new Date().getFullYear();
---
<footer class=" border-t border-black dark:border-zinc-400 max-w-3xl mx-auto">
    <div class="mx-auto max-w-3xl pt-3 text-center bg-stone-200 dark:bg-slate-800">
        <p>© {year} Joshua Trotter. All rights reserved.</p>
    </div>
</footer>