---
const year = new Date().getFullYear();
---
<footer class="">
    <div class="mx-auto max-w-3xl px-8 pt-3 text-center">
        <p>© {year} Joshua Trotter. All rights reserved.</p>
    </div>
</footer>