---
import ThemeButton from "./ThemeButton";
---
<header class="fixed w-full z-20 top-0">
    <nav class="backdrop-blur-md max-w-3xl mx-auto flex items-center content-center justify-around border-b border-black dark:border-zinc-400">
        <div class="navbar-left flex content-center">
            <div class="px-2"><a href='/'><h1>HOME</h1></a></div>
            <div class="px-2"><a href='/about'><h1>ABOUT</h1></a></div>
        </div>
        <div class="navbar-right">
            <ThemeButton client:visible />
        </div>
    </nav>
</header>

<style>
</style>