---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import Masthead from '../components/Masthead.astro';
import { SITE_TITLE } from '../config';
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title + ` - ${SITE_TITLE}`}</title>
	</head>
	<body class="bg-slate-100 dark:bg-slate-800 dark:text-neutral-300 dark:bg-none">
		<Navbar />
		<main class="px-8 max-w-3xl pt-6 mx-auto">
			{title != 'About' ? <Masthead /> : <div></div>}
			<div class="container mx-auto">
				<slot />
			</div>
		</main>
	</body>
	<Footer />
</html>

<style is:global>
	html, body {
		height: 100%;
	}
</style>
