---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE } from '../config';
export interface Props {
  content: {
    title: string
    description: string
    createdAt?: string
    updatedAt?: string
    heroImage?: string
    tags: string[]
  }
}

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
        <title>{frontmatter.title + ` - ${SITE_TITLE}`}</title>
	</head>
	<body>
		<Navbar />
		<div class="container mx-auto flex justify-center border-solid border-zinc-900 border-x-2 my-4">
            <h1>{frontmatter.title}</h1>
            <div>{frontmatter.description}</div>
            <hr/>
			<slot />
		</div>
	</body>
	<Footer />
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}

	html, body {
		height: 100%;
	}
</style>
